<!--
  family display name location
  caregiver1 caregiver2
  G R child1 | G child2 | R child3
-->
<article class="slds-card slds-m-around_x-small slds-p-around_small">
  <div class="slds-grid slds-grid_vertical">
    <div class="slds-grid">
      <div class="slds-col">
        Williamsvilleton Family
      </div>
      <div class="slds-grid slds-wrap slds-grid_align-end">
        <div class="slds-col slds-m-around_xx-small">
          <button
            nglButton
            title="Location"
            type="button"
            variant="brand"
            iconName="utility:location">
              Location
          </button>
        </div>
        <div class="slds-col slds-m-around_xx-small">
          <button
            nglButton
            title="Message"
            type="button"
            variant="brand"
            iconName="utility:chat">
              Send a Message
          </button>
        </div>
      </div>
    </div>
    <div class="slds-grid slds-wrap">
      <div class="slds-col slds-m-around_x-small">
        <div class="slds-box">
          Caregivers
          <div class="slds-grid slds-m-vertical_xx-small">
            <div class="slds-col">
              Sue
            </div>
            <div class="slds-col">
              <ngl-badge theme="inverse">Primary</ngl-badge>
            </div>
          </div>
          <div class="slds-grid slds-m-vertical_xx-small">
            <div class="slds-col">
              Bob
            </div>
            <div class="slds-col">
              <ngl-badge theme="inverse">Primary</ngl-badge>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-col slds-m-around_x-small">
        <div class="slds-box">
          Children
          <div class="slds-grid slds-grid_vertical">
            <div class="slds-col">
              Bobby
              <div class="slds-grid">
                <div class="slds-col">
                  Give
                </div>
                <div class="slds-col">
                  Receive
                </div>
              </div>
            </div>
            <div class="slds-col">
              Suzy
              <div class="slds-grid">
                <div class="slds-col">
                  Give
                </div>
                <div class="slds-col">
                  Receive
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
