<div class="slds-grid slds-grid_vertical slds-p-around_x-small">
  <div class="slds-col slds-p-horizontal_xx-small">
    <ngl-expandable-section title="Family Information" [(open)]="familySectionOpen" [collapsable]='true'>
      <div class="slds-grid slds-grid_vertical">
        <div class="slds-col slds-p-horizontal_x-small">
          <ngl-input
          label="Family Display Name"
          fieldLevelHelpTooltip="Test"
          [error]='false'>
            <input ngl
            type="input"
            required='true'
            placeholder="Enter name to display for your family"
            [value]="family.display_name"
            [readonly]="!editing">
          </ngl-input>
        </div>
        <div class="slds-col slds-p-horizontal_x-small">
          <ngl-input
          label="Actual Location"
          fieldLevelHelpTooltip="Test"
          [error]='false'>
            <input ngl
            type="input"
            placeholder="TBD"
            [value]="family.location_actual"
            [readonly]="!editing">
          </ngl-input>
        </div>
        <div class="slds-col slds-p-horizontal_x-small">
          <ngl-input
          label="Display Location"
          fieldLevelHelpTooltip="Test"
          [error]='false'>
            <input ngl
            type="input"
            placeholder="TBD"
            [value]="family.location_display"
            [readonly]="!editing">
          </ngl-input>
        </div>
        <div class="slds-grid slds-wrap slds-grid_align-end slds-p-horizontal_x-small slds-m-vertical_medium">
          <div *ngIf="!editing" class="slds-col slds-p-around_xx-small">
            <button nglButton
              title="Edit"
              type="button"
              variant="brand"
              iconName="utility:edit"
              (click)="edit()">
                Edit
            </button>
          </div>
          <div *ngIf="editing" class="slds-col slds-p-around_xx-small" >
            <button
              nglButton
              class="slds-button"
              [class.slds-button_brand] = "changed"
              iconName="utility:save"
              [disabled]="!changed"
              (click)="save()">
                Save
            </button>
          </div>
          <div *ngIf="editing && changed" class="slds-col slds-p-around_xx-small" >
            <button
              nglButton
              class="slds-button"
              [class.slds-button_destructive] = "changed"
              iconName="utility:delete"
              [disabled]="!changed"
              (click)="discardChanges()">
                Discard Changes
            </button>
          </div>
          <div *ngIf="editing && !changed" class="slds-col slds-p-around_xx-small" >
            <button
              nglButton
              class="slds-button"
              variant="brand"
              iconName="action:reject"
              [disabled]="changed"
              (click)="cancelEditing()">
                Cancel Editing
            </button>
          </div>
        </div>
      </div>
    </ngl-expandable-section>
  </div>
  <div class="slds-col slds-p-horizontal_xx-small">
    <ngl-expandable-section title="Caregivers" [(open)]="caregiversSectionOpen" [collapsable]='true'>
      <div class="slds-grid slds-grid_vertical">
        <div class="slds-col">
          <app-caregiver *ngFor="let caregiver of family.caregivers; index as i"
            [caregiver]="caregiver"
            (caregiverEditing)="caregiverEditing($event)"
            (caregiverChanged)="caregiverChanged($event)">
          </app-caregiver>
        </div>
        <div class="slds-grid slds-wrap slds-grid_align-end slds-m-top_x-small slds-m-bottom_medium">
          <div class="slds-col slds-p-around_xx-small">
            <button
              nglButton
              type="button"
              title="Add Caregiver"
              class="slds-button"
              [class.slds-button_brand]="!hasNewCaregiver()"
              [class.slds-button_neutral]="hasNewCaregiver()"
              [disabled]="hasNewCaregiver()"
              iconName="utility:adduser"
              iconPosition="right"
              (click)="addCaregiver()">
                Add Caregiver
            </button>
          </div>
        </div>
      </div>
    </ngl-expandable-section>
  </div>
  <div class="slds-col slds-p-horizontal_xx-small">
    <ngl-expandable-section title="Children" [(open)]="childrenSectionOpen" [collapsable]='true'>
      <div class="slds-grid slds-grid_vertical">
        <div class="slds-col">
          <app-child *ngFor="let child of family.children; index as i"
            [child]="child"
            (childEditing)="childEditing($event)"
            (childChanged)="childChanged($event)">
          </app-child>
        </div>
        <div class="slds-grid slds-grid_align-end slds-m-top_x-small slds-m-bottom_medium">
          <div class="slds-col slds-p-around_xx-small">
            <button
              nglButton
              title="Add Child"
              type="button"
              class="slds-button"
              [class.slds-button_brand]="!hasNewChild()"
              [class.slds-button_neutral]="hasNewChild()"
              [disabled]="hasNewChild()"
              iconName="utility:adduser"
              iconPosition="right"
              (click)="addChild()">
                Add Child
            </button>
          </div>
        </div>
      </div>
    </ngl-expandable-section>
  </div>
</div>

<!-- Discard Changes Modal -->
<ngl-modal [open]="discardChangesModalOpen" [directional]='true' [dismissOnClickOutside]='false'>
  <ng-template nglModalHeader>
    Dicard Child Changes Header
  </ng-template>
  <ng-template nglModalTagline>
    Discard Changes Tagline
  </ng-template>
  <div class="slds-p-around_medium">
    Discard Changes Body
  </div>
  <ng-template nglModalFooter>
    <button class="slds-button slds-button_destructive" (click)="confirmDiscardChanges()">Discard Changes</button>
    <button class="slds-button slds-button_neutral" (click)="cancelDiscardChanges()">Cancel</button>
  </ng-template>
</ngl-modal>
<!-- Discard Changes Modal -->

<!-- Save Confirmation Modal -->
<ngl-modal [open]="saveModalOpen" [directional]='true' [dismissOnClickOutside]='false'>
  <ng-template nglModalHeader>
    Save Child Header
  </ng-template>
  <ng-template nglModalTagline>
    Save Tagline
  </ng-template>
  <div class="slds-p-around_medium">
    Save Body
  </div>
  <ng-template nglModalFooter>
    <button class="slds-button slds-button_brand" (click)="confirmSave()">Save</button>
    <button class="slds-button slds-button_neutral" (click)="cancelSave()">Cancel</button>
  </ng-template>
</ngl-modal>
<!-- Save Confirmation Modal -->
