<ngl-icon iconName="utility:groups" alternativeText="Audio file"></ngl-icon>
<h1>Blah Blah Blah Family</h1>
<ngl-icon iconName="utility:edit" alternativeText="Audio file" size="x-small"></ngl-icon>
<div class="slds-grid slds-grid_pull-padded slds-grid_vertical-align-center">
  <h1>Caregivers</h1>
  <button type="button" nglButtonIcon iconName="utility:adduser" title="Add caregiver"></button>
  <button type="button" nglButtonIcon iconName="action:leave_group" title="Remove caregiver"></button>
  <button type="button" nglButtonIcon iconName="action:change_owner" title="Change main caregiver"></button>
</div>
<app-caregiver></app-caregiver>
<app-caregiver></app-caregiver>
<div class="slds-grid slds-grid_pull-padded slds-grid_vertical-align-center">
  <h1>Children</h1>
  <button type="button" nglButtonIcon iconName="utility:adduser" title="Add child"></button>
</div>
<app-child></app-child>
<app-child></app-child>
