<div class="slds-grid slds-grid_vertical slds-p-around_x-small">
  <div class="slds-col slds-p-horizontal_xx-small">
    <ngl-expandable-section title="Family Information" [(open)]="locationOpen" [collapsable]='true'>
      <div class="slds-grid slds-grid_vertical">
        <div class="slds-col slds-p-horizontal_x-small">
          <ngl-input label="Family Display Name">
            <input ngl type="input" required='true' placeholder="Enter name to display for your family">
          </ngl-input>
        </div>
        <div class="slds-col slds-p-horizontal_x-small">
          <ngl-input label="Actual Location">
            <input ngl type="input">
          </ngl-input>
        </div>
        <div class="slds-col slds-p-horizontal_x-small">
          <ngl-input label="Display Location">
            <input ngl type="input">
          </ngl-input>
        </div>
        <div class="slds-col slds-p-horizontal_x-small slds-m-vertical_medium">
          <div class="slds-grid slds-wrap slds-grid_align-end">
            <div class="slds-col slds-p-around_xx-small">
              <button
                nglButton
                title="Edit"
                type="button"
                variant="brand"
                iconName="utility:edit">
                  Edit
              </button>
            </div>
            <div class="slds-col slds-p-around_xx-small">
              <button
                nglButton
                title="Save"
                type="button"
                variant="brand"
                iconName="utility:save">
                  Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </ngl-expandable-section>
  </div>
  <div class="slds-col slds-p-horizontal_xx-small">
    <ngl-expandable-section title="Caregivers" [(open)]="caregiversOpen" [collapsable]='true'>
      <div class="slds-grid slds-grid_vertical">
        <div class="slds-col">
          <app-caregiver></app-caregiver>
          <app-caregiver></app-caregiver>
        </div>
        <div class="slds-col slds-m-top_x-small slds-m-bottom_medium">
          <div class="slds-grid slds-wrap slds-grid_align-end">
            <div class="slds-col slds-p-around_xx-small">
              <button
                nglButton
                title="Add Caregiver"
                type="button"
                variant="brand"
                iconName="utility:adduser"
                iconPosition="right">
                  Add Caregiver
              </button>
            </div>
            <div class="slds-col slds-p-around_xx-small">
              <button
                nglButton
                title="Change Caregiver Permissions"
                type="button"
                variant="brand"
                iconName="utility:user_role"
                iconPosition="right">
                  Caregiver Permissions
              </button>
            </div>
          </div>
        </div>
      </div>
    </ngl-expandable-section>
  </div>
  <div class="slds-col slds-p-horizontal_xx-small">
    <ngl-expandable-section title="Children" [(open)]="childrenOpen" [collapsable]='true'>
      <div class="slds-grid slds-grid_vertical">
        <div class="slds-col">
          <app-child></app-child>
          <app-child></app-child>
        </div>
        <div class="slds-col slds-m-top_x-small slds-m-bottom_medium">
          <div class="slds-grid slds-grid_align-end">
            <div class="slds-col slds-p-around_xx-small">
              <button
                nglButton
                title="Add Child"
                type="button"
                variant="brand"
                iconName="utility:adduser"
                iconPosition="right">
                  Add Child
              </button>
            </div>
          </div>
        </div>
      </div>
    </ngl-expandable-section>
  </div>
</div>
