<article class="slds-card slds-m-around_x-small">
  <div class="slds-grid slds-grid_vertical slds-m-around_x-small">
    <div class="slds-col slds-p-horizontal_xx-small">
      <ngl-input label="First Name">
        <input ngl
        type="input"
        placeholder="Enter child's first name"
        [value]="child.first_name">
      </ngl-input>
    </div>
    <div class="slds-col slds-p-horizontal_xx-small">
      <ngl-datepicker-input
      label="Birthdate"
      [(value)]="child.birthdate"
      format="middle-endian"
      patternPlaceholder>
        <input nglDatepickerInput type="text">
      </ngl-datepicker-input>
    </div>
    <div class="slds-grid slds-wrap slds-m-top_small">
      <div class="slds-col slds-m-around_x-small">
        <div class="slds-box">
          <div class="slds-grid slds-grid_vertical">
            <div class="slds-col slds-p-around_xx-small">
              <ngl-checkbox-toggle label="Give" enabledText="Yes" disabledText="No">
                <input ngl type="checkbox" [(checked)]="child.give">
              </ngl-checkbox-toggle>
            </div>
            <div class="slds-col slds-p-horizontal_xx-small">
              <ng-template #groupLabel>Clothing Gender Preference</ng-template>
              <fieldset ngl-radio-group [label]="groupLabel" [required]='false' type="button">
                <ngl-radio-option *ngFor="let gender of genders" [label]="gender">
                  <input ngl type="radio">
                </ngl-radio-option>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-col slds-m-around_x-small">
        <div class="slds-box">
          <div class="slds-grid slds-grid_vertical">
            <div class="slds-grid">
              <div class="slds-col slds-p-around_xx-small">
                <ngl-checkbox-toggle label="Receive" enabledText="Yes" disabledText="No">
                  <input ngl type="checkbox" [(checked)]="child.receive">
                </ngl-checkbox-toggle>
              </div>
              <div class="slds-col slds-p-around_xx-small">
                <button
                  nglButton
                  title="Find givers"
                  type="button"
                  variant="brand"
                  iconName="standard:search"
                  (click)="findPartners()">
                    Find Partners
                </button>
              </div>
            </div>
            <div class="slds-col slds-p-horizontal_xx-small">
              <ng-template #groupLabel>Clothing Gender Preference</ng-template>
              <fieldset ngl-radio-group [label]="groupLabel" [required]='false' type="button">
                <ngl-radio-option *ngFor="let gender of genders" [label]="gender">
                  <input ngl type="radio">
                </ngl-radio-option>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-grid slds-grid_align-end">
      <div *ngIf="!child.editing" class="slds-col slds-p-around_xx-small">
        <button
          nglButton
          title="Edit"
          type="button"
          variant="brand"
          iconName="utility:edit"
          (click)="edit()">
            Edit
        </button>
      </div>
      <div *ngIf="child.editing" class="slds-col slds-p-around_xx-small" >
        <button
          nglButton
          class="slds-button"
          [class.slds-button_brand] = "child.changed"
          iconName="utility:save"
          [disabled]="!child.changed"
          (click)="save()">
            Save
        </button>
      </div>
      <div *ngIf="child.editing && child.changed" class="slds-col slds-p-around_xx-small" >
        <button
          nglButton
          class="slds-button"
          [class.slds-button_destructive] = "child.changed"
          iconName="utility:delete"
          [disabled]="!child.changed"
          (click)="discardChanges()">
            Discard Changes
        </button>
      </div>
      <div *ngIf="child.editing && !child.changed" class="slds-col slds-p-around_xx-small" >
        <button
          nglButton
          class="slds-button"
          variant="brand"
          iconName="action:reject"
          [disabled]="child.changed"
          (click)="cancelEditing()">
            Cancel Editing
        </button>
      </div>
      <div *ngIf="!child.editing" class="slds-col slds-p-around_xx-small">
        <button
          nglButton
          class="slds-button slds-button_destructive"
          iconName="action:remove"
          iconPosition="right"
          (click)="remove()">
            Remove
        </button>
      </div>
    </div>
  </div>
</article>

<!-- Discard Changes Modal -->
<ngl-modal [open]="discardChangesModalOpen" [directional]='true' [dismissOnClickOutside]='false'>
  <ng-template nglModalHeader>
    Dicard Child Changes Header
  </ng-template>
  <ng-template nglModalTagline>
    Discard Changes Tagline
  </ng-template>
  <div class="slds-p-around_medium">
    Discard Changes Body
  </div>
  <ng-template nglModalFooter>
    <button class="slds-button slds-button_destructive" (click)="confirmDiscardChanges()">Discard Changes</button>
    <button class="slds-button slds-button_neutral" (click)="cancelDiscardChanges()">Cancel</button>
  </ng-template>
</ngl-modal>
<!-- Discard Changes Modal -->

<!-- Save Confirmation Modal -->
<ngl-modal [open]="saveModalOpen" [directional]='true' [dismissOnClickOutside]='false'>
  <ng-template nglModalHeader>
    Save Child Header
  </ng-template>
  <ng-template nglModalTagline>
    Save Tagline
  </ng-template>
  <div class="slds-p-around_medium">
    Save Body
  </div>
  <ng-template nglModalFooter>
    <button class="slds-button slds-button_brand" (click)="confirmSave()">Save</button>
    <button class="slds-button slds-button_neutral" (click)="cancelSave()">Cancel</button>
  </ng-template>
</ngl-modal>
<!-- Save Confirmation Modal -->

<!-- Remove Confirmation Modal -->
<ngl-modal [open]="removeModalOpen" [directional]='true' [dismissOnClickOutside]='false'>
  <ng-template nglModalHeader>
    Remove Child Header
  </ng-template>
  <ng-template nglModalTagline>
    Remove Tagline
  </ng-template>
  <div class="slds-p-around_medium">
    Remove Body
  </div>
  <ng-template nglModalFooter>
    <button class="slds-button slds-button_destructive" (click)="confirmRemove()">Confirm Removal</button>
    <button class="slds-button slds-button_neutral" (click)="cancelRemove()">Cancel</button>
  </ng-template>
</ngl-modal>
<!-- Remove Confirmation Modal -->
