<article class="slds-card slds-m-around_x-small">
  <div class="slds-grid slds-grid_vertical slds-m-around_x-small">
    <div class="slds-col slds-p-horizontal_xx-small">
      <ngl-input label="First Name">
        <input ngl type="input" placeholder="Enter child's first name">
      </ngl-input>
    </div>
    <div class="slds-col slds-p-horizontal_xx-small">
      <ngl-datepicker-input label="Birthdate" [(value)]="birthdate" format="middle-endian" patternPlaceholder>
        <input nglDatepickerInput type="text">
      </ngl-datepicker-input>
    </div>
    <div class="slds-grid slds-wrap slds-m-top_small">
      <div class="slds-col slds-m-around_x-small">
        <div class="slds-box">
          <div class="slds-grid slds-grid_vertical">
            <div class="slds-col slds-p-around_xx-small">
              <ngl-checkbox-toggle label="Give" enabledText="Yes" disabledText="No">
                <input ngl type="checkbox">
              </ngl-checkbox-toggle>
            </div>
            <div class="slds-col slds-p-horizontal_xx-small">
              <ng-template #groupLabel>Clothing Gender Preference</ng-template>
              <fieldset ngl-radio-group [label]="groupLabel" [required]='false' type="button">
                <ngl-radio-option *ngFor="let gender of genders" [label]="gender">
                  <input ngl type="radio">
                </ngl-radio-option>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-col slds-m-around_x-small">
        <div class="slds-box">
          <div class="slds-grid slds-grid_vertical">
            <div class="slds-grid">
              <div class="slds-col slds-p-around_xx-small">
                <ngl-checkbox-toggle label="Receive" enabledText="Yes" disabledText="No">
                  <input ngl type="checkbox">
                </ngl-checkbox-toggle>
              </div>
              <div class="slds-col slds-p-around_xx-small">
                <button
                  nglButton
                  title="Find givers"
                  type="button"
                  variant="brand"
                  iconName="standard:search"
                  (click)="findPartners()">
                    Find Partners
                </button>
              </div>
            </div>
            <div class="slds-col slds-p-horizontal_xx-small">
              <ng-template #groupLabel>Clothing Gender Preference</ng-template>
              <fieldset ngl-radio-group [label]="groupLabel" [required]='false' type="button">
                <ngl-radio-option *ngFor="let gender of genders" [label]="gender">
                  <input ngl type="radio">
                </ngl-radio-option>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-grid slds-grid_align-end">
      <div class="slds-col slds-p-around_xx-small">
        <button
          nglButton
          title="Edit"
          type="button"
          variant="brand"
          iconName="utility:edit"
          (click)="edit()">
            Edit
        </button>
      </div>
      <div class="slds-col slds-p-around_xx-small">
        <button
          nglButton
          title="Save"
          type="button"
          variant="brand"
          iconName="utility:save"
          (click)="save()">
            Save
        </button>
      </div>
      <div class="slds-col slds-p-around_xx-small">
        <button
          nglButton
          title="Remove Child"
          type="button"
          variant="destructive"
          iconName="utility:delete"
          iconPosition="right"
          (click)="remove()">
            Remove
        </button>
      </div>
    </div>
  </div>
</article>

<!-- Save Confirmation Modal -->
<ngl-modal [open]="saveModalOpen" [directional]='true' [dismissOnClickOutside]='false'>
  <ng-template nglModalHeader>
    Save Child Header
  </ng-template>
  <ng-template nglModalTagline>
    Save Tagline
  </ng-template>
  <div class="slds-p-around_medium">
    Save Body
  </div>
  <ng-template nglModalFooter>
    <button class="slds-button slds-button_destructive">Save</button>
    <button class="slds-button slds-button_neutral">Cancel</button>
  </ng-template>
</ngl-modal>
<!-- Save Confirmation Modal -->

<!-- Remove Confirmation Modal -->
<ngl-modal [open]="removeModalOpen" [directional]='true' [dismissOnClickOutside]='false'>
  <ng-template nglModalHeader>
    Remove Child Header
  </ng-template>
  <ng-template nglModalTagline>
    Remove Tagline
  </ng-template>
  <div class="slds-p-around_medium">
    Remove Body
  </div>
  <ng-template nglModalFooter>
    <button class="slds-button slds-button_destructive">Confirm Removal</button>
    <button class="slds-button slds-button_neutral">Cancel</button>
  </ng-template>
</ngl-modal>
<!-- Remove Confirmation Modal -->
