<article class="slds-card slds-m-around_x-small">
  <form [formGroup]="caregiverForm">
    <div class="slds-grid slds-grid_vertical slds-m-around_x-small">
      <div class="slds-col slds-p-horizontal_xx-small">
        <ngl-badge theme="inverse">Primary</ngl-badge>
      </div>
      <div class="slds-col slds-p-horizontal_xx-small">
        <ngl-input label="First Name">
          <input ngl
          formControlName="firstName"
          type="input"
          placeholder="Enter your first name"
          [value]="caregiver.first_name"
          [readonly]="!caregiver.editing">
        </ngl-input>
      </div>
      <div class="slds-col slds-p-horizontal_xx-small">
        <ngl-input label="Last Name">
          <input ngl
          formControlName="lastName"
          type="input"
          placeholder="Enter your last name"
          [value]="caregiver.last_name"
          [readonly]="!caregiver.editing">
        </ngl-input>
      </div>
      <div class="slds-col slds-p-horizontal_xx-small">
        <ngl-input label="Email Address">
          <input ngl
          formControlName="email"
          type="input"
          placeholder="Enter your email"
          [value]="caregiver.email"
          [readonly]="!caregiver.editing">
        </ngl-input>
      </div>
      <div class="slds-grid slds-grid_align-end slds-m-top_small">
        <div *ngIf="!caregiver.editing" class="slds-col slds-p-around_xx-small">
          <button
            nglButton
            title="Edit"
            type="button"
            variant="brand"
            iconName="utility:edit"
            (click)="edit()">
              Edit
          </button>
        </div>
        <div *ngIf="caregiver.editing" class="slds-col slds-p-around_xx-small" >
          <button
            nglButton
            class="slds-button"
            [class.slds-button_brand] = "caregiver.changed"
            iconName="utility:save"
            [disabled]="!caregiver.changed"
            (click)="save()">
              Save
          </button>
        </div>
        <div *ngIf="caregiver.editing && caregiver.changed" class="slds-col slds-p-around_xx-small" >
          <button
            nglButton
            class="slds-button"
            [class.slds-button_destructive] = "caregiver.changed"
            iconName="utility:delete"
            [disabled]="!caregiver.changed"
            (click)="discardChanges()">
              Discard Changes
          </button>
        </div>
        <div *ngIf="caregiver.editing && !caregiver.changed" class="slds-col slds-p-around_xx-small" >
          <button
            nglButton
            class="slds-button"
            variant="brand"
            iconName="action:reject"
            [disabled]="caregiver.changed"
            (click)="cancelEditing()">
              Cancel Editing
          </button>
        </div>
        <div *ngIf="!caregiver.editing" class="slds-col slds-p-around_xx-small">
          <button
            nglButton
            class="slds-button slds-button_destructive"
            iconName="action:remove"
            iconPosition="right"
            (click)="remove()">
              Remove
          </button>
        </div>
      </div>
    </div>
  </form>
</article>

<!-- Discard Changes Modal -->
<ngl-modal [open]="discardChangesModalOpen" [directional]='true' [dismissOnClickOutside]='false'>
  <ng-template nglModalHeader>
    Dicard Caregiver Changes Header
  </ng-template>
  <ng-template nglModalTagline>
    Discard Changes Tagline
  </ng-template>
  <div class="slds-p-around_medium">
    Discard Changes Body
  </div>
  <ng-template nglModalFooter>
    <button class="slds-button slds-button_destructive" (click)="confirmDiscardChanges()">Discard Changes</button>
    <button class="slds-button slds-button_neutral" (click)="cancelDiscardChanges()">Cancel</button>
  </ng-template>
</ngl-modal>
<!-- Discard Changes Modal -->

<!-- Save Confirmation Modal -->
<ngl-modal [open]="saveModalOpen" [directional]='true' [dismissOnClickOutside]='false'>
  <ng-template nglModalHeader>
    Save Caregiver Header
  </ng-template>
  <ng-template nglModalTagline>
    Save Tagline
  </ng-template>
  <div class="slds-p-around_medium">
    Save Body
  </div>
  <ng-template nglModalFooter>
    <button class="slds-button slds-button_brand" (click)="confirmSave()">Save</button>
    <button class="slds-button slds-button_neutral" (click)="cancelSave()">Cancel</button>
  </ng-template>
</ngl-modal>
<!-- Save Confirmation Modal -->

<!-- Remove Confirmation Modal -->
<ngl-modal [open]="removeModalOpen" [directional]='true' [dismissOnClickOutside]='false'>
  <ng-template nglModalHeader>
    Remove Caregiver Header
  </ng-template>
  <ng-template nglModalTagline>
    Remove Tagline
  </ng-template>
  <div class="slds-p-around_medium">
    Remove Body
  </div>
  <ng-template nglModalFooter>
    <button class="slds-button slds-button_destructive" (click)="confirmRemove()">Confirm Removal</button>
    <button class="slds-button slds-button_neutral" (click)="cancelRemove()">Cancel</button>
  </ng-template>
</ngl-modal>
<!-- Remove Confirmation Modal -->
