<div class="slds-grid slds-grid_pull-padded slds-grid_vertical-align-end">
  <button type="button" nglButtonIcon iconName="action:remove" title="Remove cargiver"></button>
  <div class="slds-col_padded">
    <ngl-input label="First Name">
      <input ngl type="input" placeholder="Enter your first name">
    </ngl-input>
  </div>
  <div class="slds-col_padded">
    <ngl-input label="Last Name">
      <input ngl type="input" placeholder="Enter your last name">
    </ngl-input>
  </div>
  <div class="slds-col_padded">
    <ngl-input label="Email Address">
      <input ngl type="input" placeholder="Enter your email">
    </ngl-input>
  </div>
</div>
