<div class="slds-grid  slds-grid_vertical slds-m-around_x-small">
  <div class="slds-col slds-p-around_xx-small">
    <ngl-badge theme="inverse">Primary</ngl-badge>
  </div>
  <div class="slds-col slds-p-around_xx-small">
    <ngl-input label="First Name">
      <input ngl type="input" placeholder="Enter your first name">
    </ngl-input>
  </div>
  <div class="slds-col slds-p-around_xx-small">
    <ngl-input label="Last Name">
      <input ngl type="input" placeholder="Enter your last name">
    </ngl-input>
  </div>
  <div class="slds-col slds-p-around_xx-small">
    <ngl-input label="Email Address">
      <input ngl type="input" placeholder="Enter your email">
    </ngl-input>
  </div>
  <div class="slds-col slds-p-around_xx-small">
    <button
      nglButton
      title="Remove Caregiver"
      type="button"
      variant="destructive"
      iconName="utility:delete"
      iconPosition="right">
        Remove
    </button>
  </div>
</div>
